.mainpage {
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.content-area {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 552px;
  height: 251px;
  padding: 13px;
  border: 2px solid var(--color-border);
  border-radius: 23px;

  .droparea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .draganddrop-header {
      display: flex;
      align-items: center;
      margin-bottom: 11px;

      .title {
        z-index: 3;
        flex-grow: 1;
        margin-right: auto;
        color: var(--color-text-description);
        text-align: center;
      }

      .i-ic-sharp-close {
        --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z'/%3E%3C/svg%3E");

        z-index: 3;
        justify-content: end;
        width: 24px;
        height: 24px;
        color: var(--color-icon);
        background-color: currentcolor;
        mask: var(--un-icon) no-repeat;
        mask: var(--un-icon) no-repeat;
        mask-size: 100% 100%;
        mask-size: 100% 100%;
      }
    }

    .border {
      z-index: 3;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: auto;
      cursor: pointer;
      background-color: var(--control-item-bg-hover);
      border: 1px dashed var(--color-border);
      border-radius: 8px;

      .i-bi-filetype-json {
        --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM4.151 15.29a1.176 1.176 0 0 1-.111-.449h.764a.578.578 0 0 0 .255.384c.07.049.154.087.25.114c.095.028.201.041.319.041c.164 0 .301-.023.413-.07a.559.559 0 0 0 .255-.193a.507.507 0 0 0 .084-.29a.387.387 0 0 0-.152-.326c-.101-.08-.256-.144-.463-.193l-.618-.143a1.72 1.72 0 0 1-.539-.214a1.001 1.001 0 0 1-.352-.367a1.068 1.068 0 0 1-.123-.524c0-.244.064-.457.19-.639c.128-.181.304-.322.528-.422c.225-.1.484-.149.777-.149c.304 0 .564.05.779.152c.217.102.384.239.5.41c.12.17.186.359.2.566h-.75a.56.56 0 0 0-.12-.258a.624.624 0 0 0-.246-.181a.923.923 0 0 0-.37-.068c-.216 0-.387.05-.512.152a.472.472 0 0 0-.185.384c0 .121.048.22.144.3a.97.97 0 0 0 .404.175l.621.143c.217.05.406.12.566.211a1 1 0 0 1 .375.358c.09.148.135.335.135.56c0 .247-.063.466-.188.656a1.216 1.216 0 0 1-.539.439c-.234.105-.52.158-.858.158c-.254 0-.476-.03-.665-.09a1.404 1.404 0 0 1-.478-.252a1.13 1.13 0 0 1-.29-.375Zm-3.104-.033a1.32 1.32 0 0 1-.082-.466h.764a.576.576 0 0 0 .074.27a.499.499 0 0 0 .454.246c.19 0 .33-.055.422-.164c.091-.11.137-.265.137-.466v-2.745h.791v2.725c0 .44-.119.774-.357 1.005c-.237.23-.565.345-.985.345a1.59 1.59 0 0 1-.568-.094a1.145 1.145 0 0 1-.407-.266a1.14 1.14 0 0 1-.243-.39Zm9.091-1.585v.522c0 .256-.039.47-.117.641a.862.862 0 0 1-.322.387a.877.877 0 0 1-.47.126a.883.883 0 0 1-.47-.126a.87.87 0 0 1-.32-.387a1.55 1.55 0 0 1-.117-.641v-.522c0-.258.039-.471.117-.641a.87.87 0 0 1 .32-.387a.868.868 0 0 1 .47-.129c.177 0 .333.043.47.129a.862.862 0 0 1 .322.387c.078.17.117.383.117.641Zm.803.519v-.513c0-.377-.069-.701-.205-.973a1.46 1.46 0 0 0-.59-.63c-.253-.146-.559-.22-.916-.22c-.356 0-.662.074-.92.22a1.441 1.441 0 0 0-.589.628c-.137.271-.205.596-.205.975v.513c0 .375.068.699.205.973c.137.271.333.48.589.626c.258.145.564.217.92.217c.357 0 .663-.072.917-.217c.256-.146.452-.355.589-.626c.136-.274.205-.598.205-.973Zm1.29-.935v2.675h-.746v-3.999h.662l1.752 2.66h.032v-2.66h.75v4h-.656l-1.761-2.676h-.032Z'/%3E%3C/svg%3E");

        z-index: 3;
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
        color: var(--color-primary-base);
        background-color: currentcolor;
        mask: var(--un-icon) no-repeat;
        mask: var(--un-icon) no-repeat;
        mask-size: 100% 100%;
        mask-size: 100% 100%;
      }

      .text {
        text-align: center;
      }

      .text-type {
        color: var(--color-text-description);
        text-align: center;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 0%);
}
