/* DropZone.css.module */
.mainpage {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}

.contentArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 552px;
  height: 251px;
  z-index: 2;
  border: 2px solid var(--color-border);
  border-radius: 23px;
  padding: 13px;

  .droparea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .dragAndDropHeader {
      display: flex;
      align-items: center;
      margin-bottom: 11px;

      .title {
        z-index: 3;
        text-align: center;
        margin-right: auto;
        flex-grow: 1;
      }

      .closeButton {
        background-color: blueviolet;
        justify-content: end;
        width: 24px;
        height: 24px;
        z-index: 3;
        text-align: center;
      }
    }

    .border {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      margin-bottom: auto;
      flex-grow: 1;

      cursor: pointer;
      border: 1px dashed var(--color-border);
      background-color: #0000000a;
      border-radius: 8px;

      z-index: 3;

      .icon {
        background-color: blueviolet;
        width: 48px;
        height: 48px;
        z-index: 3;
        text-align: center;
        margin-bottom: 16px;
      }

      .text {
        text-align: center;
      }

      .textType {
        text-align: center;
      }
    }
  }
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}