.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 552px;
  padding-top: 30px;
}

.button {
  padding: 8px 16px;
  margin: 14px;
}
