.mainpage {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  border: 2px solid var(--color-border);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 552px;
}

.inputLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 46px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: aqua;
  margin-left: 23px;
}

.input {
  flex-grow: 1;
  background-color: #ffffff00;
  border-color: #ffffff00;
  margin-left: auto;
  padding: 3px 3px 3px 15px;
}

input.input:focus {
  outline-width: 0;
}

.suggestionsContainer {
  background-color: #ffffff00;
  max-height: 205px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    width: 6px;
    margin: 0px 3px 23px 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 3px;
  }
}

.suggestionsList {
  margin-bottom: 23px;
}

.suggestion {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  list-style: none;

  &:hover {
    background-color: #0000000a;
  }
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.description {
  font-weight: light;
}

.version {
  margin-left: auto;
  text-align: right;
}