.mainpage {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 552px;
  border: 2px solid var(--color-border);
  border-radius: 23px;
}

.inputlayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 46px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 23px;
  background-color: aqua;
}

.input {
  flex-grow: 1;
  padding: 3px 3px 3px 15px;
  margin-left: auto;
  background-color: #fff0;
  border-color: #fff0;
}

input.input:focus {
  outline-width: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.suggestionsContainer {
  max-height: 205px;
  overflow-y: auto;
  background-color: #fff0;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    width: 6px;
    margin: 0 3px 23px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 3px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.suggestionsList {
  margin-bottom: 23px;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  list-style: none;
  cursor: pointer;

  &:hover {
    background-color: var(--control-item-bg-hover);
  }
}

.leftsection {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.description {
  font-weight: light;
}

.version {
  margin-left: auto;
  text-align: right;
}
