.mainpage {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 552px;
    border: 2px solid var(--color-border);
    border-radius: 23px;

    .inputlayout {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 46px;
      margin-left: 23px;

      .i-ic-round-search {
        --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0c.41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z'/%3E%3C/svg%3E");

        width: 24px;
        height: 24px;
        color: var(--color-icon);
        background-color: currentcolor;
        mask: var(--un-icon) no-repeat;
        mask: var(--un-icon) no-repeat;
        mask-size: 100% 100%;
        mask-size: 100% 100%;
      }

      .icon {
        width: 24px;
        height: 24px;
        background-color: aqua;
      }

      .input {
        flex-grow: 1;
        padding: 3px 3px 3px 15px;
        margin-left: auto;
        font-size: medium;
        background-color: transparent;
        border-color: transparent;
      }

      input.input:focus {
        outline-width: 0;
      }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .suggestionsContainer {
      max-height: 205px;
      overflow-y: auto;
      background-color: transparent;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        width: 6px;
        margin: 0 3px 23px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-border);
        border-radius: 3px;
      }

      /* stylelint-disable-next-line selector-class-pattern */
      .suggestionsList {
        padding: 5px;
        margin-bottom: 23px;

        .suggestion {
          display: flex;
          justify-content: space-between;
          width: 100%;
          list-style: none;
          cursor: pointer;

          &:hover {
            background-color: var(--control-item-bg-hover);
          }

          .leftsection {
            display: flex;
            flex-direction: column;

            .name {
              font-size: medium;
              font-weight: bold;
            }

            .description {
              font-size: small;
              font-weight: light;
            }
          }

          .version {
            margin-left: auto;
            font-size: medium;
            font-weight: bold;
            text-align: right;
          }
        }
      }
    }
  }
}
