.header {
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 72px;
  padding: 0 50px;
}

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header li {
  position: relative;
  display: flex;
  justify-content: end;
  margin-left: 33px;

  .icon {
    width: 24px;
    height: 24px;
    background-color: coral;
  }
}
