.dep-item-more {
  position: absolute;
  z-index: 99;
  padding: 0.25rem;
  color: var(--text);
  background-color: var(--color-bg-container);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}
