:root {
  --color-primary-base: #5b2eee;
  --color-primary-light: #7550f1;
  --color-text: #000000e0;
  --color-text-description: #00000073;
  --color-bg-container: #fff;
  --color-bg-layout: #f5f5f5;
  --color-border: #00000026;
  --color-item-bg-hover: #4f4f4f;
}
