.app[data-theme="light"] {
  --color-primary-bg: #e6e2f2;
  --color-primary-bg-hover: #cabef3;
  --color-primary-border: #a992f6;
  --color-primary-border-hover: #3a0fc6;
  --color-primary-hover: #7550f1;
  --color-primary-base: #5b2eee;
  --color-primary-active: #3a0fc6;
  --color-primary-text-hover: #260a84;
  --color-primary-text: #3b0763;
  --color-primary-text-active: #130542;
  --color-text: #000000e0;
  --color-text-description: #00000073;
  --color-icon: #00000073;
  --color-icon-hover: #000000e0;
  --color-bg-container: #fff;
  --color-bg-layout: #f5f5f5;
  --control-item-bg-hover: #0000000a;
  --control-item-bg-active: #e6e2f2;
  --control-item-bg-active-hover: #cabef3;
  --color-border: #00000026;
  --color-border-secondary: #0000000f;
  --color-skeleton-bg: #d9d9d9;
}

.app[data-theme="dark"] {
  --color-primary-bg: #130542;
  --color-primary-bg-hover: #1d0763;
  --color-primary-border: #260a84;
  --color-primary-border-hover: #8f71f3;
  --color-primary-hover: #5b2eee;
  --color-primary-base: #7550f1;
  --color-primary-active: #8f71f3;
  --color-primary-text-hover: #a992f6;
  --color-primary-text: #cabef3;
  --color-primary-text-active: #e6e2f2;
  --color-text: #ffffffd9;
  --color-text-description: #ffffff73;
  --color-icon: #ffffff73;
  --color-icon-hover: #ffffffd9;
  --color-bg-container: #252529;
  --color-bg-layout: #161618;
  --control-item-bg-hover: #ffffff14;
  --control-item-bg-active: #130542;
  --control-item-bg-active-hover: #1d0763;
  --color-border: #424242;
  --color-border-secondary: #303030;
  --color-skeleton-bg: #d9d9d9;
}
