$li-h: 2.2rem;
$li-border-stroke-w: 1px;
$side-l-padding: 0.75rem;
$side-w: 25rem;
$input-h: 2.4rem;

@mixin flex-center($row, $col) {
  display: flex;
  align-items: center;
  justify-content: center;

  @if $row {
    justify-content: $row;
  }

  @if $col {
    align-items: $col;
  }
}

.side-search {
  width: $side-w;
  overflow: hidden;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
    padding: 0 0.75rem;
    background-color: var(--color-bg-layout);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  .find {
    h1 {
      @include flex-center(left, center);

      height: 4rem;
      padding-left: $side-l-padding;
    }

    .search-bar {
      @include flex-center(center, center);

      height: 4.8rem;
      padding-left: $side-l-padding;
      background-color: var(--color-bg-container);
      border-bottom: 1px solid var(--color-border);

      input {
        width: 22rem;
        height: $input-h;
        padding: 0 calc($input-h / 2);
        font-size: 1.2rem;
        border: var(--color-border) solid $li-border-stroke-w;
        border-radius: $input-h;
        outline: none;
      }
    }
  }

  .result {
    h1 {
      padding-left: $side-l-padding;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      width: $side-w;
      padding: 0.2rem 0 0.2rem $side-l-padding;
      background-color: var(--color-bg-container);
    }

    li {
      width: fit-content;
      height: $li-h;
      padding: 0 8px;
      margin: 0.2rem;
      line-height: calc($li-h - 2 * $li-border-stroke-w);
      list-style: none;
      user-select: none;
      border: solid $li-border-stroke-w var(--color-border);
      border-radius: 4px;
      transition-duration: 0.3s;

      &:hover {
        color: white;
        background-color: var(--color-primary-base);
      }
    }
  }

  .mainpage-title {
    position: absolute;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    min-height: 3rem;
    padding: 0 0.75rem;
    margin-left: 2.5rem;
    color: var(--color-text);
    user-select: none;
    background-color: var(--color-bg-layout);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    transition: 200ms;
  }

  .mainpage-title:hover {
    color: white;
    background-color: var(--color-primary-base);
  }
}
