.drawer-box {
  width: 25rem;
  overflow: auto;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 0.75rem;
    background-color: var(--color-bg-layout);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  .content {
    padding-top: 0.5rem;
    overflow: auto;
  }

  .dep-item {
    display: inline-block;
    max-width: 9.5rem;
    padding: 0.25rem;
    margin: 0.25rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    background-color: var(--color-bg-layout);
    border: var(--color-border) solid 0.5px;
    border-radius: 0.25rem;
  }
  .dep-item-more::after {
    position: absolute;
    content: attr(data-more);
    z-index: 99;
    top: 0;
    left: 0;
    padding: 0.25rem;
    color: var(--text);
    background-color: var(--color-bg-container);
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
  }
}
